* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: white;
  color: rgb(69, 67, 67);
  font-family: 'Roboto', sans-serif;
  min-width: 420px;
}

#wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

h1 {
  text-align: left;
  width: 49.5%;
  margin:  2rem 1px;
  color: rgb(255, 134, 5);
}

#input-container {
  position: relative;
  width: 50%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input, button, select {
  line-height: 1.7rem;
  font-size: 1rem;
  padding: 0 .5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

input {
  border: 1px solid rgb(235, 235, 235);
}

#warning {
  display: inline-block;
  position: absolute;
  bottom: 2000px;
  color: red;
  font-size: .7rem;
}

select {
  height: 1.8rem;
  background-color: white;
}

#add {
  background-color: rgb(255, 134, 5);
  border-color: rgb(255, 134, 5);
  color: white;
}

::-webkit-input-placeholder {
  color: rgb(182, 182, 182);
}

#main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
  margin-bottom: 2rem;
}

h3 {
  padding: 1rem;
  font-weight: normal;
  background-color: rgb(255, 134, 5);
  color: white;
  border-right: 1px solid rgb(235, 235, 235);
}

#income-container, #expense-container{
  width: 40%;
}

#income-container h3, #balance-container h3  {
  border-top-left-radius: 5px;
}

#income, #expense {
  font-size: 1rem;
  padding: 1rem;
  text-align: right;
  background-color: white;
  overflow-y: scroll; 
  height: 20rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#expense {
  border-right: 2px solid white;
}

.added-on-delete {
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: gray;
}

#income::-webkit-scrollbar,  #expense::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(249, 249, 249);
}

#income::-webkit-scrollbar-thumb, #expense::-webkit-scrollbar-thumb {
  background-color: rgb(75, 73, 73);
} 

#balance-container{
  width: 20%;
}

#balance {
  height: 20rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgb(249, 249, 249);
}

.added-on-delete {
  width: 100%;
}

.name {
  width: 40%;
  overflow: hidden;
  text-align: left;
  padding: 0 .5rem;
  display: inline-block;
  text-align: right;
}

.amount {
  width: 30%;
  padding-left: .6rem;
  display: inline-block;
  text-align: right;
  color: black;
}

#date {
  font-size: .7rem;
}

#time {
  width: 30%;
  font-size: .7rem;
}

.total-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid rgb(235, 235, 235);
  align-items: baseline;
  line-height: 1.7rem;
}

.total-container span {
  width: 33%;
  text-align: right;
}

.total-container button {
  font-size: 1.3rem;
}

#total-balance {
  width: 70%;
}

@media only screen and (max-width: 1272px){

  h1{
    width: 42%;
  }

  #input-container{
    width: 57%;
  }

}
@media only screen and (max-width: 1087px){

  h1{
    width: 100%;
    margin-bottom: 0;
  }

  /* .total-container{
    display: flex;
    flex-wrap: wrap;
  }
  */

  .total-container span {
    width: 70%;
    text-align: right;
  }
/* 
  #delete-income {
    width: 30%;
  }

  #total-income, #total-expense {
    width: 100%;
    text-align: right;
  }  */

 input, select, #add {
   margin-right: 1rem;
 }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  #income-container, #expense-container{
    width: 50%;
  }

  #expense-container h3, #balance-container h3 {
    border-top-right-radius: 5px;
  }

  #balance-container {
    width: 100%;
    height: 0;
  }

  #balance {
    height: 0;
    padding: 0;
  }

  #balance-container .total-container span {
    text-align: left;
  }  

  #balance-container  #total-balance {
    text-align: right;
  }

  #balance-container .total-container {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 800px){

  #wrapper {
    width: 95%;
  }

  input, select, #add {
    margin-right: 0;
  }

  #income-container, #expense-container,#input-container  {
    width: 100%;
    border-top-right-radius: 5px;
  }

h3 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

@media only screen and (max-width: 660px){
  h1{
    text-align: center;
  }

  #input-container{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 640px){


  #add {
    margin-top: 1rem;
    padding: 0 4.9rem;
  }

  input, select, #add {
    width: 48%;
  }

  #wrapper {
    width: 98%;
  }
}

